@import '~bulma/bulma';

@import './themes/themes.scss';

* {
    transition: background-color .5s ease, color .5s ease;

    @include themify($colors) {
        color: themed( 'textColor' );
        background: themed( 'backgroundColor' );
    }
}
