doctype html
html(lang="en")
head
  title= pageTitle
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  include ./includes/styles.pug
body
  section#root.section
    div#app
  script.
    const appData = !{JSON.stringify(appData)}
  include ./includes/footer.pug