doctype html
html(lang="en")
head
  title= pageTitle
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  include ./includes/styles.pug
body
  div#app
    section.section
      div.container
        h1.title Stocker
        p.subtitle An experiment by the Russled Jimi's
        p= message
  div#root
  script.
    const appData = !{object}
  script(src='sample.js')
//-   include ./includes/footer.pug