/*
    SCSS Theming
    Inspired form https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
*/


// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

@mixin themify($themes: $themes) {
    
    @each $theme,
    $map in $themes {
        
        .theme-#{$theme} & {
            $theme-map: () !global;
            
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            
            @content;
            $theme-map: null !global;
        }
        
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------


@import './color/dark.scss';
@import './color/dark.scss';


// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

@import './size/large.scss';
@import './size/small.scss';

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

$colors: (
    light: (
        backgroundColor: #fff,
        textColor: #408bbd,
        buttonTextColor: #408bbd,
        buttonTextTransform: none,
        buttonTextHoverColor: #61b0e7,
        buttonColor: #fff,
        buttonBorder: 2px solid #fff,
    ),
    dark: (
        backgroundColor: #222,
        textColor: #ddd,
        buttonTextColor: #aaa,
        buttonTextTransform: uppercase,
        buttonTextHoverColor: #ddd,
        buttonColor: #333,
        buttonBorder: 1px solid #aaa,
    ),
);